.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #483d811A;
    border-radius: 8px;
}

    .header .logo {
        display: flex;
        align-items: center;
        margin: 0;
    }

        .header .logo h1 {
            font-size: 1.2rem;
            margin-left: 20px;
        }

.header {
}

    .header a {
        padding: 10px 15px;
        font-size: 1rem;
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }

        .header a:visited {
            color: #000;
        }

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' -25, 'opsz' 24;
    color: #214946 !important;
    font-size: 2rem !important;
}



.table-container {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

    table thead {
        background-color: #21494680;
    }

    table th, table td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    table th {
        font-weight: bold;
    }

.btn-wrapper {
    display: grid;
    justify-content: flex-end;
}

.add-btn {
    padding: 10px 20px;
    margin: 10px;
    color: #214946;
    border: none;
    border-radius: 4px;
    border: solid 1px #214946;
    cursor: pointer;
    font-size: 1rem;
}

    .add-btn:hover {
        background-color: #214946;
        color: #f4f4f4;
    }

.form-title {
    background: #483d811A;
    border: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-info {
    margin: 10px;
    color: #214946;
    padding: 2px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: #333;
}

.form-wrapper {
    display: grid;
    gap: 0;
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

.row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 4px;
}

.form-group input,
.form-group select {
    padding: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

    .form-actions button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-actions .save {
        background-color: #4CAF50;
        color: white;
    }

    .form-actions .back {
        background-color: #f44336;
        color: white;
    }

.btn-group {
    display: grid;
    grid-template-columns: repeat(2,100px);
    margin: 0;
    padding: 10px;
    justify-content: end;
    gap: 4px;
}

.btn {
    padding: 10px 20px;
    color: #214946;
    border: none;
    border-radius: 4px;
    border: solid 1px #214946;
    cursor: pointer;
    font-size: 1rem;
}

    .btn:hover {
        background-color: #214946;
        color: #f4f4f4;
    }

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

@@media (max-width: 480px) {
    .form-actions {
        flex-direction: column;
    }

        .form-actions button {
            width: 100%;
            margin-bottom: 10px;
        }

            .form-actions button:last-child {
                margin-bottom: 0;
            }
}
