<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserManagement</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=groups_2" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <span class="material-symbols-outlined">
                groups_2
            </span>
            <h1>Users</h1>
        </div>
        <a href="#" id="logout">Logout</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.js"></script>
    }
    <script>
        document.getElementById('logout').addEventListener('click', () => {
            sessionStorage.removeItem('AuthToken')
            window.location = window.location.origin + '/home/Login';
        });
    </script>
</body>
</html>
