<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserManagement</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,200&icon_names=groups" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style>
        .material-symbols-outlined {
            font-family: 'Material Symbols Outlined';
            font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' -25, 'opsz' 24;
            font-size: 50px;
            color: #6A9EA0;
            margin-top:0;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
            <span class="material-symbols-outlined">
                groups
            </span>
            <h1>Users</h1>
        </div>
        <a href="#" id="logout">Logout</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.js"></script>
    }
    <script>
        document.getElementById('logout').addEventListener('click', () => {
            sessionStorage.removeItem('AuthToken')
            window.location = window.location.origin + '/home/Login';
        });
    </script>
</body>
</html>
