<style>
    body {
        margin: 0;
        display: grid;
        font-family: Arial, sans-serif;
        padding: 0;
        align-items: start;
        min-height: 100vh;
        background-color: #f7f7f7;
    }

</style>
<body>
    <div class="btn-group">
        <button class="btn" id="back" onclick="">back</button>
        <button class="btn" id="save" onclick="">Save</button>
    </div>
    <div class="form-wrapper">
        <div class="form-title">
            <h3 class="title-info">User Information</h3>
        </div>
        <div class="form-container">
            <form class="form" id="user-form">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" id="login" name="login" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select id="country" name="country" required>
                            <option value="1">Jordan</option>
                            <option value="2">USA</option>
                            <option value="3">UK</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <select id="city" name="city" required>
                            <option value="1">Amman</option>
                            <option value="2">Zarqa</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="skills">Skills</label>
                    <input type="text" id="skills" name="skills" required>
                </div>
                <p id="error-message" class="error"></p>
            </form>
        </div>
    </div>
    <script>

        document.getElementById('back').addEventListener('click', () => {
            window.history.back();
        });

        document.getElementById('save').addEventListener('click', (e) => {

            const form = document.getElementById('user-form');
            const errorMessage = document.getElementById('error-message');
            if (!form.checkValidity()) {
                $("#error-message").css("color", "red").text(errorMessage);
                errorMessage.textContent = 'All fields are required.';
                form.reportValidity();
            }
            let city = parseInt($('#city').val(), 10);
            console.log($('#city').val());
            city = city.toString()
            var model = {
                UserName: $('#name').val(),
                Login: $('#login').val(),
                Email: $('#email').val(),
                ID_Country: $('#country').val(),
                ID_City: city,
                Address: $('#address').val(),
                Gender: $('#gender').val(),
                Skills: $('#skills').val()
            };

            e.preventDefault();  
            $.ajax({
                url: 'http://localhost:5165/api/User/add?Password=' + $('#password').val(),  
                type: 'POST',
                data: JSON.stringify(model),  
                contentType: 'application/json',  
                dataType: 'json',  
                success: function (response) {
                   $('#responseMessage').html('User added successfully: ' + response);
                    window.location = window.location.origin + "/home/Index";

                },
                error: function (xhr, status, error) {
                    $('#responseMessage').html('Error: ' + error);
                }
            });
        });
    </script>
</body>
